:root{
    --link-color: whitesmoke;
    --link-visited-color: aqua;
    --link-active-color: blue;
    --header-text-color: rgb(255, 242, 4);
    --alt-text-color: rgb(255, 166, 0);
    --background-color: #2a607c;
    --nicer-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    position: relative;
    height: 1532px;
    background-image: url(./Images/ocean_beach.JPG);
    background-repeat: repeat-y;
    background-size: cover;
}
header{
    display: flex;
    text-align: center;
    font-family: var(--nicer-font);
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    color: var(--header-text-color)
}
header h1{
    font-size: 40px;
    width: 50%;
}
second-header{
    display: flex;
    position: relative;
    background-color: var(--background-color);
    margin: 10px 0px;
    font-family: var(--nicer-font);
    padding-left: 10px;
}
nav{
    display: flex;
    width: 30%;
    justify-content: right;
    justify-content: space-between;
    color: black;
    margin-right: 5px;
}
a{
    color: var(--link-color);
}
/* a:visited{
    color: var(--link-visited-color)
} */
a:active{
    color: var(--link-active-color);
}
a:hover{
    color: black;
}
p{
    text-align: center;
    font-size: 30px;
    color: var(--alt-text-color);
    font-family: var(--nicer-font);
}
main{
    display: flex;
    justify-content: right;
    
}
featured-box{
    border: 5px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
}
horiseon-git{
    font-size: 30px;
    justify-content: center;
    display:flex;
}
featured-box a{
    display: flex;
    flex: 1 1 600px;
    position: relative;
    text-decoration: none;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--nicer-font);
    color: var(--link-color);
}
about-me-section{
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 5px solid black;
    margin-bottom: 10px;
}
about-me-section p{
    margin-top: 30px;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    color: var(--alt-text-color);
}
#heriseon{
    display: block;
    max-width:300px;
    height: auto;
    margin-bottom: 10px;
}
#hike{
    position: relative;
    height: 300px;
    float: left;
    margin: 10px;
    
}
featured-box a:hover{
    background-color: white;  
    cursor: pointer;
}
other-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
project{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 30%;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: var(--link-color);
    margin: 10px;
    
    
    
}
project a{
    text-decoration: none;
}
project a:hover{
    background-color: white;  
    cursor: pointer;
}

/* #closeout{
    height: 400px;
} */

project img{
    width: 100%
}

@media screen and (max-width: 992px) {
    project{
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    project{
        width: 90%;
    }
}