
/* Variables for usage throughout the CSS file */
:root{
    --link-color: whitesmoke;
    --link-visited-color: aqua;
    --link-active-color: blue;
    --header-text-color: rgb(255, 242, 4);
    --alt-text-color: rgb(255, 166, 0);
    --background-color: #2a607c;
    --border: (5px solid black)/*couldn't get this variable to work, but left it here in case I can figure it out*/
    --nicer-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    /* I added “position: relative” because I thought later it might help if I decided to include any items with absolute positioning within the body */
    position: relative;
    height: 1532px;
    /* The background picture is a photo taken by a friend of mine.  It is of ocean beach during an historic swell, taken from way up on top of the hill */
    background-image: url(./Images/ocean_beach.JPG);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: var(--nicer-font);
}
header{
    display: flex;
    text-align: center;
    font-family: var(--nicer-font);
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    color: var(--header-text-color)
}
/* Decided to have two headers 🤷‍♂️ */
second-header{
    display: flex;
    position: relative;
    background-color: var(--background-color);
    margin: 10px 0px;
    font-family: var(--nicer-font);
    padding-left: 10px;
}

h1, h2, h3{
    text-align: center;
    /* TODO: figure out why the aligning worked here, but not the font family in some areas*/
    font-family: var(--nicer-font);
    
}
/* TODO: figure out why font-family will not work on the h3s within the projects */
h3{
    font-size: 20px;
    color: var(--link-color);
    margin-bottom: 10px;
}
header h1{
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}
nav{
    display: flex;
    width: 30%;
    justify-content: right;
    justify-content: space-between;
    color: black;
    margin-right: 5px;
    flex-wrap: wrap;
}
nav a{
    margin: 0px 10px 0px 10px;
}

/* I didn’t bother with coloring for the “visited” status for the anchor elements */
a{
    color: var(--link-color);
}

a:active{
    color: var(--link-active-color);
}
a:hover{
    color: black;
}
p{
    text-align: center;
    font-size: 30px;
    color: var(--alt-text-color);
    font-family: var(--nicer-font);
}
main{
    display: flex;
    justify-content: right;
    
}
/* contains multiple boxes that pertain to the featured project */
#featured-box{
    /* I tried to set the border values to a single variable, but was not successful */
    border: 5px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Separate link for the git repo */
#feature-git{
    font-size: 30px;
    justify-content: center;
    display:flex;
}
#featured-box a{
    display: flex;
    flex: 1 1 600px;
    position: relative;
    text-decoration: none;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--nicer-font);
    color: var(--link-color);
}

#about-me-section{
    display: flex;
    flex-direction: column;
    flex: 0 0 320px;
    border: 5px solid black;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}
#about-me-section p{
    margin-top: 30px;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    color: var(--link-color);
}
#heriseon{
    width: 95%;
    height: auto;
    margin-bottom: 10px;
}
#hike{
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 95%;
    
}
/* Makes the hovering very visually noticeable */
#featured-box a:hover{
    background-color: white;  
    cursor: pointer;
    opacity: .5;
}
h2{
    color: var(--link-color);
    font-family: var(--nicer-font);
    
}
#other-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.project{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    /* Makes it so that there are three columns in the “additional projects” section…until the screen size is reduced */
    width: 30%;  
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: var(--link-color);
    margin: 10px;
    text-decoration: none;
}

.project:hover{
    background-color: white;  
    cursor: pointer;
    opacity: .5;
}

.project img{
    width: 100%
}
.project h3{
    font-family: var(--nicer-font);
}

@media screen and (max-width: 992px) {
    .project{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    /* using tow methods to do esentially the same thing.  I suppose this is an example of me trying out different ways of doing things to hopefully settle on the right one */
    main{
        flex-direction: column;
        align-items: center;
    }
    .project{
        width: 90%;
    }
}
.big-gif{
    width: 100%;
    height:auto
}
footer h3{
    font-size: 50px;
}
h3{
    font-size: 20px;
    color: var(--link-color);
    margin-bottom: 10px;
}
